<h2>Sign up</h2>

<form action="<%= user_registration_path %>" method="post" enctype="multipart/form-data">
  <%= csrf_meta_tags %>

  <div class="form-inputs">
    <label for="user_email">Email:</label>
    <input type="email" id="user_email" name="user[email]" required autofocus autocomplete="email">

    <label for="user_password">Password:</label>
    <input type="password" id="user_password" name="user[password]" required autocomplete="new-password">

    <label for="user_password_confirmation">Confirm Password:</label>
    <input type="password" id="user_password_confirmation" name="user[password_confirmation]" required autocomplete="new-password">

    <label for="user_avatar">Profile Picture:</label>
    <input type="file" id="user_avatar" name="user[avatar]">

    <div class="nested-fields">
      <label for="profile_name">Name:</label>
      <input type="text" id="profile_name" name="user[profile_attributes][name]" required autocomplete="name">

      <label for="profile_bio">Bio:</label>
      <textarea id="profile_bio" name="user[profile_attributes][bio]" maxlength="1000"></textarea>

      <label for="profile_phone_number">Phone Number:</label>
      <input type="tel" id="profile_phone_number" name="user[profile_attributes][phone_number]" required autocomplete="tel">

      <label for="profile_age">Age:</label>
      <input type="number" id="profile_age" name="user[profile_attributes][age]" required min="0">
    </div>
  </div>

  <div class="form-actions">
    <input type="submit" value="Sign up">
  </div>
</form>


<%= render "devise/shared/links" %>
