<div class=form-container>
  <%= form_for [@profile, @booking], url: reject_profile_booking_path(profile_id: @profile.id, id: @booking.id), method: :patch do |f| %>
    <!-- Any form fields or information you want to display -->
    <%= f.submit 'Decline Booking' %>
  <% end %>
</div>
