<div class="form-container">
  <h2>Forgot Password</h2>
  <form action="<%= user_password_path %>" method="post">
    <%= csrf_meta_tags %>

    <div class="form-inputs">
      <div class="form-input-group">
        <input class="input" type="email" id="user_email" name="user[email]" required autofocus autocomplete="email">
        <label class="label" for="user_email">Email</label>
      </div>
    </div>

    <div class="form-actions">
      <input class="btn btn-primary" type="submit" value="Reset Password">
      <%= link_to "Back to Login", new_user_session_path, class: "login" %>
    </div>
  </form>
</div>
