<div class="form-container">
  <h2>Login</h2>
  <form action="<%= user_session_path %>" method="post">
    <%= csrf_meta_tags %>

    <div class="form-inputs">
      <div class="form-input-group">
        <input class="input" type="email" id="user_email" name="user[email]" required autofocus autocomplete="email">
        <label class="label" for="user_email">Email</label>
      </div>

      <div class="form-input-group">
        <input class="input" type="password" id="user_password" name="user[password]" required autocomplete="current-password">
        <label class="label" for="user_password">Password</label>
      </div>
    </div>

    <div class="form-actions">
      <input class="btn btn-primary" type="submit" value="Log in">
      <%= link_to "Sign Up", new_user_registration_path, class: "login" %>
    </div>
    <div class="form-actions">
      <%= link_to "Forgot your password?", new_user_password_path, class: "forgot-password" %>
    </div>
  </form>
</div>
