.btn-primary {
  border-radius: 15px;
  background-color: #2e2e2e;
  border-color: #2e2e2e;


  &:hover{
    background-color: #E6A098;
    border-color: #E6A098;
  }

}

.buttons{
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.buttons .btn{
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  padding: 8px 25px;
  border-radius: 25px;
  font-size: 18px;
  white-space: nowrap;
  background: #2e2e2e
}
.buttons .btn:hover{
  background-color: #E6A098;
}
