body{
  background-color: #fff;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #dce0d9;
  padding: 15px 100px;
  height: 70px;
}

li {
  list-style: none;
}

.container-logo img{
  height: 40px;
}

.signup {
  color: #e07a5f;
  font-weight: bold;
  margin-right: 10px;
  text-decoration: none;
  margin-top: 20px;
  position: relative;
}
