.my-search-container .box {
  position: relative;
}

.my-search-container .input {
  padding: 10px;
  width: 50px;
  height: 50px;
  background-color: #DCE0D9;
  border: 2px solid #DCE0D9;
  border-radius: 50px;
  box-sizing: border-box;
  font-family: Comic Sans MS;
  font-size: 26px;
  color: #D3D3D3;
  outline: none;
  transition: .5s;
}

.my-search-container .box:hover .input {
  width: 200px;
  background: white;
  border-radius: 10px;
}

.my-search-container .box i {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: white;
  transition: .2s;
}

.my-search-container .box:hover i {
  opacity: 0;
  z-index: -1;
}

.my-search-container {
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 1000; /* Ensures it stays above other content */
}

.my-search-container .input::placeholder {
  font-size: 22px; /* Smaller placeholder text for specificity */
  color: #999; /* Optional: change the placeholder text color if needed */
}
